body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:rgb(7, 7, 7);
}
.typo {
  margin-bottom: 5rem;
  font-weight: 900;
  color: rgb(31, 31, 31);
  font-size:1em;
  font-family: 'Italianno',cursive;
}
.navbar-brand{
 font-family: 'Monoton',cursive;
  font-size: 25px;
}
.fa{
  margin-right: 1em;
}
.fa-pad{
  margin-left: 2em;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
.mar{
  
   display: block;
}
.pimg1{
  background-image: url('../img/2.jpg');
  min-height: 100%;
}
.pimg2{
  background-image:url('../img/40.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/42.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px; 
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
  padding-top: 60px;
}
.leonardo {
  margin-top: 5rem;
  color: rgb(31, 30, 30);
}

.ptext{
  position:absolute;
  top:30%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;

}
.ptext .one {
  color:rgb(116, 73, 73);
  padding:20px;
  font-family: 'Monoton',cursive;
 
}
.ptext .one.trans{
  background-color:transparent;
}
.flt {
  display: block;
  float: left;
  text-align: left;
  width: 90%;
  padding-right: 2em;
}
.flt1{
  margin-top: 1%;
  display: block;
  float: left;
  text-align: left;
  width: 90%;
  font-family: 'Times New Roman', Times, serif;
  background-color:#272933c5;
}
.flt2{
  margin-top: 5%;
  display: block;
  float: left;
  text-align: left;
  width: 90%;
  font-family: 'Times New Roman', Times, serif;
  background-color:#272933c5;
}

.foto1{
  margin-top: 1%;
  display: block;
  float: right;
  text-align: left;
  width: 90%;
  font-family: 'Times New Roman',Times, serif;
  background-color:#272933c5;
}
.foto2{
  margin-top: 5%;
   display: block;
   float: right;
   text-align: left;
   width: 90%;
   font-family: 'Times New Roman', Times, serif;
  background-color: #272933c5;
}
.insta{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  color: rgb(76, 107, 153)!important;
}
hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.sec{
  display: block;
  float: left;
  text-align: left;
  width: 48%;
  margin-left: 8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sek{
  display: block;
  float: right;
  text-align: left;
  width: 48%;
  margin-right: 8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.train{
  text-align: justify;
}
.container{
  float: none;  
  margin-left: 20%;
}
.footer{
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: lightslategrey;
  margin-top: 5em;
}
@media(min-width:768px){
  .first,
  .section,
  .third,
  .pimg3{
    float: none;
    text-align: center;
    width: 100%;
  }
  .fa-pad{
    margin-left: 0;
  }
  .ptext{
    top: 15%;
    letter-spacing: 2px;
  }
  .typo{
    margin-bottom: 5%;
  }
  .one{
    padding: 0px;
    width: 100%;
  }
  .leonardo{
    text-align: center;
    font-size: 0.1em;
    text-transform: none;
    width: 100%;
  }
  
  .flt{
    float: none;
    text-align: justify;
  }
  .sec, .sek {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
    margin-bottom:0.2em;
    font-size: 0.9em;  
  }  
}
  /*@media(max-width:505px) {
    .leonardo{
      display: none;
    }
  }*/
@media only screen and (min-width:320px) {
  .first,
  .section,
  .third,
  .pimg3 {
    float: none;
    text-align: center;
    width: 100%;
  }
 
  .fa-pad {
    margin-left: 0;
  }
  .ptext {
    top: 10%;
    letter-spacing: 0.1rem;
  }
  .typo {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .one {
    font-size: 0.8em;
    padding: 0px;
    width: 100%;
  }
  
  .flt {
    display: block;
    text-align: justify;
    float: left;
    width: 100%;
    padding-right: 0em;
  }
  
  .flt1{
    float: none;
    border: none;
  }
  .flt2{
    float: none;
  }
  .foto1, .foto2{
    float: none;
    
    border: none;
  }
 .foto2 {
    float: none;
    border: none;
 }
  .sec, .sek {
    float: none;
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
    margin-bottom: 0.2em;
    font-size: 0.75em;
  }
  /*.flt1:hover, .flt2:hover, .foto1:hover, .foto2:hover{
    transform: scaleX(1.1);
    padding-left: 15px;
    border-radius: 10%;
  }*/
  h3{
    font-size: 20px;
  }
}
@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}